<!-- signup.component.html -->
<div class="auth-container">
  <h2>Signup</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username"></label>
      <input type="text" placeholder="Username" id="username" [(ngModel)]="user.username" name="username" required />
    </div>

    <div class="form-group">
      <label for="password"></label>
      <input type="password" placeholder="Password" id="password" [(ngModel)]="user.password" name="password" required />
    </div>

    <div class="form-group">
      <label for="role"></label>
      <select id="role" [(ngModel)]="user.role" name="role" required>
        <option value="" disabled selected>Select Role</option>
        <option value="STUDENT">Student</option>
        <option value="FACULTY">Faculty</option>
      </select>
    </div>

    <button type="submit">Sign Up</button>

    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
   
    <hr />
    <div class="center-link">
      <a href="http://localhost:4200/login" class="logged-button">Already Logged In</a>
    </div>
  </form>
</div>
